@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
html, body {
    min-width: 400px;
}
body, input, button {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    color: var(--YLNNHc);
}


body {
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.top-section{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 7%;
    
}
.middle-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 1rem 0;
    gap: 1.2rem;
}

.left-side{
    display:flex;
    gap: 1.5rem;
    justify-content: center;
    align-items:center;
    margin-left: 25px;
}
.right-side{
    display:flex;
    gap: 1.5rem;
    justify-content: center;
    align-items:center;
    
    
}

.search-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5 rem;
}
.search-form-input{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dfe1e5;
    gap: 1rem;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}

.search-form input{
    width: 27rem;
    padding: 0.5rem;
    border:none;
    outline: none;
}

.search-form label{
    display: none;
}

.search-form button{
    background-color: #f5f5f5;
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    color: #000000;
    font-family: Google Sans, Roboto, Arial, sans-serif;
    font-optical-sizing: none;
    font-size: 14px;
    font-weight: 500;
    margin: 11px 4px;
    padding: 0 30px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.app{
    width: 1.5rem;
    height:1.5rem;
}

.profile{
    width: 2rem;
    height:2rem;
    border-radius: 100%;
}

.search{
    width: 1.5rem;
    height: 1.5em;
}

.mic,.camera{
    width: 1.5rem;
    height: 1.5rem;
}

a{
    text-decoration: none;
    color: black;
}

.bottom-section{
    display:flex;
    justify-content: left;
    align-items: center;
    background: rgb(244, 244, 244);
    padding: 1rem 1.5rem;
    margin-top: 15rem;
}

.bottom-section a{
    margin:0 1rem;
}
